h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5rem;
	font-weight: 900;
	line-height: 1.5;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 900;
	line-height: 1.5;
}

li {
	font-family: 'Montserrat';
	font-weight: 600;
	color: #8f8f8f;
}

p {
	font-family: 'Montserrat';
	font-weight: 600;
	color: #8f8f8f;
}

body {
	font-family: 'Montserrat';
}

/* Homepage landing display */

#title {
	background-color: #ff4c68;
	color: white;
}

.container-fluid {
	padding: 3% 15% 15%;
}

/* Navbar */

.navbar {
	padding-bottom: 4.5rem;
}

.navbar-brand {
	font-family: 'Ubuntu';
	font-size: 2.5rem;
	font-weight: 700;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 300;
}

/* Title image */

.img-title {
	max-width: 60%;
	transform: rotate(20deg);
	position: absolute;
	z-index: 0;
}

@media (max-width: 1124px) {

	#title {
		text-align: center;
	}

	.img-title {
		position: static;
		transform: rotate(0);
	}
}

/* Download buttons */

.btn-download {
	margin: 5% 3%;
}

/* Feature area */

#features {
	text-align: center;
	padding: 7% 15%;
	background-color: white;
	position: relative;
	z-index: 1;
}

.features-title {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

.features-desc {
	font-family: 'Montserrat';
	font-weight: 600;
	color: #8f8f8f;
	padding: 0 5% 1rem;
}

.features-icon {
	color: #ef8172;
	font-size: 4rem;
}

.features-icon:hover {
	color: #ff4c68;
}

/* Testimonials */

#testimonials {
	text-align: center;
	background-color: #ef8172;
	color: white;
}

.quote {
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.5;
}

.quote-profile {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

.quote-name {
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 1.2rem;
}

.carousel-item {
	padding: 7% 15%;
}

/* Press */

#press {
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}

.press-logo {
	width: 10%;
	margin: 0 20px 50px;
}

/* Pricing */

#pricing {
	padding: 0% 15%;
}

.col-pricing {
	padding: 3% 2%;
}

.title-pricing {
	margin-top: 3%;
}

/* Call to action */

#cta {
	background-color: #ff4c68;
	color: white;
	text-align: center;
}

.title-cta {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5rem;
	font-weight: 900;
	line-height: 1.5;
}

.btn-cta {
	margin: 3% 1% 5%;
}

.h1-cta {
	padding-top: 5%;
	margin: 0 5%;
}

/* Footer */

#footer {
	text-align: center;
	padding: 3%;
}

.footer-icon {
	padding: 20px;
}

.footer-icon:hover {
	color: #1f1f1f;
}